<h1>Travel App</h1>

<h3>Places I want to visit:</h3>

<div class="desired">
  <ul>
    <% @locations.each do |location| %>
      <% unless location.visited %>
        <li class="<%= location.country %>"><%= link_to location.country, location_path(location) %>   <%= link_to 'Mark as visited', location_path(location), :method => :put, :remote => :true %></li>
      <% end %>
    <% end %>
  </ul>


  <%= link_to 'Add desired destination', new_location_path %>
</div>


<h3>Places I have visited:</h3>

<div class="visited">
  <ul>
    <% @locations.each do |location| %>
      <% if location.visited %>
        <li><%= link_to location.country, location_path(location) %> </li>
      <% end %>
    <% end %>
  </ul>
</div>


