<h1>This is the show page for <%= @trip.name %></h1>
<p>visited: <%= @trip.visited %></p>
<% if @trip.date.present? %>
  <p>Date visited: <%= @trip.date.strftime('%B %d, %Y') %></p>
<% end %>

<div>
  <%= link_to "Edit details about your #{@trip.name} trip", edit_trip_path(@trip) %>
</div>

<div>
  <% unless @trip.photos.empty? %>
    <% @trip.photos.all.each do |photo| %>
      <%= image_tag(photo.file, size: "200x200") %>
    <% end %>
  <% end %>
  <%= link_to 'Add photos for this trip', new_trip_photo_path(@trip) %>
</div>

<div>
  <%= link_to 'Delete this trip', trip_path(@trip), method: :delete %>
</div>
