
<div class="col-md-8 col-md-offset-2">
  <h2>Sign in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'form-inline', role: 'form'}) do |f| %>
    <div class="form-group"><%= f.label :email, class: 'sr-only' %>
      <%= f.email_field :email, autofocus: true, placeholder: 'Email', class: 'form-control input-lg' %></div>

    <div class="form-group"><%= f.label :password, class: 'sr-only' %>
      <%= f.password_field :password, autocomplete: "off", placeholder: 'Password', class: 'form-control input-lg' %></div>

    <% if devise_mapping.rememberable? -%>
      <div class="form-group"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
    <% end -%>

    <div class="form-group"><%= f.submit "Sign in", class: 'btn btn-success btn-lg' %></div>
  <% end %>

  <div>
    <%= render 'devise/shared/forgot_password_link' %>
  </div>

  <h4>or</h4>

  <%= render 'devise/shared/google_signin_link' %>


  <div>
    <h4>Want your own account?</h4><%= render 'devise/shared/sign_up_link' %>
  </div>


</div>
