<!DOCTYPE html>
<html>
<head>
  <title>TravelApp</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <header>
    <h1 class="logo">Travel App</h1>
    <nav>
      <ul>
        <li><%= link_to 'Register', new_user_registration_path %></li>
      </ul>
    </nav>
    <div><%= flash[:notice] %></div>
  </header>
  <%= yield %>
</div>

</body>
</html>
